{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<style>
  .extra-padding {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .address-buttons .panel-heading {
    font-size: 1.5em;
  }
  .address-buttons a.list-group-item {
    font-size: 1.3em;
  }
  .address-buttons a.list-group-item span {
    font-size: 1em;
  }
  .add-address-button {
    margin:1em;
  }
</style>

<div id="content-main">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="panel panel-default address-buttons extra-padding">
			<div class="panel-heading">
			  {% trans 'Meine Standorte' %} 
			</div>		
			<div class="list-group">
			  {% for address in request.user.address_set.all %}
				<a href="/admin/world/address/{{ address.id }}/" class="list-group-item">
				  <span class="badge">
					<span class="glyphicon glyphicon-pencil"></span>
					{% trans 'Edit' %}
				  </span>
				  {{ address.name }}
				</a> 
			  {% endfor %}
			</div>
			<div class="add-address-button">
			  <a href="/admin/world/address/add/" class="btn btn-md btn-default" aria-label="..">
				<span class="glyphicon glyphicon-plus"></span>
				{% trans "Add" %}
			  </a>		  
			</div>	
		</div>
	  
	    <div class="panel panel-default address-buttons extra-padding">
			<div class="panel-heading">
			  {% trans 'Meine Gegenstaende' %} 
			</div>
			<div class="list-group">
			  {% for address in request.user.item_set.all %}
				<a href="/admin/world/adress/{{ item.id }}/" class="list-group-item">
				  <span class="badge">
					<span class="glyphicon glyphicon-pencil"></span>
					{% trans 'Edit' %}
				  </span>
				  {{ item.name }}
				</a> 
			  {% endfor %}
			</div>
			<div class="add-address-button">
			  <a href="/admin/world/item/add/" class="btn btn-md btn-default" aria-label="..">
				<span class="glyphicon glyphicon-plus"></span>
				{% trans 'Add' %}
			  </a>
					  
			</div>	
		</div>
		
		<a href="https://www.youtube.com/embed/CwHzGqliAzk" class="btn btn-md btn-default" aria-label="..">
				<span class="glyphicon glyphicon-info-sign"></span>
				{% trans 'Videoanleitung' %} 
			  </a>
		
    </div>
	
  </div>
  
  
</div>
{% endblock %}

{% block js %}
  <script src="{% static "bootstrap_admin/js/dashboard.js" %}"></script>
{% endblock js %}
