{% extends "../../bootstrap_admin/templates/admin/login.html" %}
{% load i18n admin_static bootstrap_admin_template_tags %}

{% block content_container %}
  {{ block.super }}

  <div id="register_form" style="background: #272727; border-bottom: 2px solid #444; border-top: 2px solid #444; padding: 20px 0;">
    <span class="input-group-btn">
      <center>
        <button class="btn" onclick="location.href='/account/register'">
          {% trans 'Register' %}
        </button>
      </center>
    </span>
  </div>
{% endblock %}
